<launch>
  <include file="$(find selfie)/providers/launch/common.launch">
    <arg name="num_parking_maneuvers" value="2" />
  </include>

  <group ns="parking">
    <remap from="/odom" to="/odometry/odom" />
    <remap from="/obstacles" to="/obstacle_detection/obstacles" />
    <remap from="/drive" to="/parking/drive" />
    <remap from="/left_turn_indicator" to="/stm32/left_turn_indicator" />
    <remap from="/right_turn_indicator" to="/stm32/right_turn_indicator" />

    <include file="$(find selfie)/launch/subsystems/parking.launch" />
  </group>
</launch>
