<launch>
  <node name="pid_controller" pkg="pid" type="controller" >
    <param name="upper_limit" value="0.785" />
    <param name="lower_limit" value="-0.785" />
    <param name="windup_limit" value="10" />

    <param name="Kp" value="0.2" />
    <param name="Kp_scale" value="10.0" />

    <remap from="state" to="combined_offset" />
    <remap from="control_effort" to="steering_angle" />
  </node>

  <node name="change_lane" pkg="selfie_control" type="change_lane" >
    <param name="lane_width" value="0.4" />
    <param name="error_margin" value="0.01" />

    <remap from="target_offset" to="setpoint" />
  </node>

  <node name="offset_combiner" pkg="selfie_control" type="offset_combiner.py" />

  <node pkg="selfie_control" type="angle_to_ackermann.py" name="cmd_converter" />
</launch>
