<launch>

  <include file="$(find selfie_race)/launch/parking1.launch" >
    <arg name="gui" value="false"/>
  </include>

 <node pkg="selfie_sim_control" type="sim_manager.py" name="sim_manager"/>

  <node pkg="selfie_perception" type="detect_obstacles" name="selfie_obstacle_detector">
    <param name="upside_down" value="true"/>
    <param name="visualize" value="true" />
    <param name="max_range" value="2.0"/>
    <param name="min_range" value="0.1"/>
    <param name="line_search_max_range_difference_" value="0.04"/>
    <param name="line_search_max_slope_difference_" value="2.0"/>
    <param name="line_search_min_slope_difference_" value="0.05"/>
    <param name="line_search_slope_difference_ratio_" value="0.10"/>
    <param name="line_search_min_length_" value="0.05"/>
    <param name="line_min_length_" value="0.05"/>
    <param name="obstacle_nominal_length_" value="0.4"/>   
  </node>
</launch>
