<launch>
  <include file="$(find selfie_race)/launch/parking1.launch" />

  <node pkg="selfie_sim_control" type="sim_manager.py" name="sim_manager"/>

  <node pkg="selfie_perception" type="detect_obstacles" name="selfie_obstacle_detector">
    <param name="visualize" value="true" />
  </node>
<!--
  <node pkg="selfie_parking" type="parking_node" name="selfie_parking_finder"/>
-->
</launch>
